:root {
  --primary-color: #4CAF50;
  --secondary-color: #FF9800;
  --background-color: #f5f5f5;
  --text-color: #333;
  --header-background: linear-gradient(45deg, #4CAF50, #FF9800);
  --font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
